{% extends 'users/detail.html' %} {% block user_details %}
<div class="col-sm-6">
    <h1>My liked warbles</h1>
    <ul class="list-group" id="likes">
        {% for msg in likes %}

        <li class="list-group-item">
            <a href="/messages/{{ msg.id }}" class="message-link" />

            <a href="/users/{{ user.id }}">
                <img src="{{ msg.user.image_url }}" alt="user image" class="timeline-image" />
            </a>

            <div class="message-area">
                <a href="/users/{{ user.id }}">@{{ msg.user.username }}</a>
                <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
                <p>{{ msg.text }}</p>
                {% if user.id == g.user.id %}

                <form method="POST"
                    action="/users/{% if msg in user.likes %}remove_like{% else %}add_like{% endif %}/{{ msg.id }}"
                    id="messages-form">
                    <button class="
                                btn 
                                btn-sm 
                                {{'btn-primary' if msg in user.likes else 'btn-secondary'}}">
                        <i class="fa fa-thumbs-up"></i>
                    </button>
                </form>


                {% endif %}
            </div>
        </li>

        {% endfor %}
    </ul>
</div>
{% endblock %}